html, body {
  background: #333;
  color: #ccc;
  display: flex;
  justify-content: center;
  padding: 50px 0; }

.main-content {
  min-width: 600px;
  display: flex;
  flex-direction: column; }
  .main-content > div {
    margin: 20px 0; }
  .main-content .navigation {
    display: flex;
    flex-direction: column; }
    .main-content .navigation .row {
      display: flex; }
      .main-content .navigation .row a {
        color: #fff;
        display: block;
        height: 32px;
        margin-left: 5px;
        font-size: 20px;
        line-height: 32px; }
      .main-content .navigation .row > div {
        display: flex;
        width: 25%; }
      .main-content .navigation .row span.logo img {
        height: 32px;
        width: 32px; }
