doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    title ROJ 导航
    link(rel="stylesheet" href="style.css")
  body
    .title-contaner
      .title
        h1 Rainboy 作品导航
      a.box.tooltip(href="https://rainboy.gitee.io/resume/")
        .icon
          img(src="static/rainboy.png" alt="")
        .box-title
          | Rainboy
        .top
          p Rainboy
          i
    .box-container
      a.box.tooltip(href=" http://roj.ac.cn")
        .icon
          img(src="static/logo/wc3-logo-red.svg" alt="")
        .box-title ROJ
        .top
          p ROJ网站的地址
      a.box.tooltip(href="http://moonoj.iok.la")
        .icon
          img(src="static/logo/wc3-logo-blue.svg" alt="")
        .box-title ROJ镜像
        .top
          p ROJ的镜像 当前面的ROJ打不开或慢的时候使用这个
      a.box.tooltip(href="http://rbook.roj.ac.cn")
        .icon
          img(src="static/logo/rbook.png" alt="")
        .box-title rbook电子书
        .top
          p rbook 电子书
          i
      a.box.tooltip(href="http://rbookbak.roj.ac.cn")
        .icon.mirror
          img(src="static/logo/rbook.png" alt="")
        .box-title rbook镜像
        .top
          p rbook 电子书 镜像
          i
      a.box.tooltip(href="http://pcs.roj.ac.cn")
        .icon
          img(src="static/logo/pcs.png" alt="")
        .box-title pcs题解
        .top
          p rainboy写的题目的解析
          i
      a.box.tooltip(href="http://pcsbak.roj.ac.cn")
        .icon.mirror
          img(src="static/logo/pcs.png" alt="")
        .box-title pcs镜像
        .top
          p rainboy写的题目的解析 镜像
          i
      a.box.tooltip(href="http://blog.roj.ac.cn")
        .icon
          img(src="static/logo/blog.png" alt="")
        .box-title 作者博客
        .top
          p 作者博客
          i
      a.box.tooltip(href="http://rainboy.gitee.io/Data-Structure-Animation/")
        .icon
          img(src="static/logo/dsa.ico" alt="")
        .box-title 算法动画演示
        .top
          p 算法动画演示
          i
      a.box.tooltip(href="http://dsa.slimeoj.online")
        .icon
          img(src="static/logo/flow.png" alt="")
        .box-title 算法演示2
        .top
          p 算法动画演示-已经不再更新-老的版本
          i
      a.box.tooltip(href="https://github.com/Rainboylvx/rSnip")
        .icon
          img(src="static/logo/snippets.ico" alt="")
        .box-title 代码片断
        .top
          p 配合vim，快速写各种算法的代码 
          i
      a.box.tooltip(href="https://rainboy.gitee.io/sample-vim-config/")
        .icon
          img(src="static/logo/vim.png" alt="")
        .box-title
          | vim配置
        .top
          p 给竞赛选手使用的vim配置
          i
      a.box.tooltip(href="https://rainboy.gitee.io/sample-vim-config/")
        .icon
          img(src="static/logo/vimR.png" alt="")
        .box-title
          | vim配置R
        .top
          p Rainboy使用的vim配置
          i
